*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh; 
    h1 {
        color: aqua;
    }
    h2 {
        color: aquamarine;
    }
    h3 {
        color: palevioletred;
    }
    p {
        color: azure;
    }
}